In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, re
import csv

In [3]:
t_Path = r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\Mixed/"
t_filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\Mixed")
t_files = [os.path.splitext(t_filename)[0] for t_filename in t_filelist]

t2_Path = r"C:\Users\dajka\Documents\Egyetem\szakdog\T_dat\Mixed/"
t2_filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\T_dat\Mixed")
t2_files = [os.path.splitext(t2_filename)[0] for t2_filename in t2_filelist]

In [3]:
t_li = []
for i in t_filelist:
    t_df = pd.read_csv(t_Path + i, skiprows=[0], sep='\s+', names=["h", "k", "l", 'd_spacing',
            "F(real)", "F(imag)", "|F|", '2theta', 'I', 'M'])         
    t_df = t_df[~t_df["2theta"].str.contains('[A-Za-z]')]
    t_df = t_df[~t_df["I"].str.contains('[A-Za-z]')]
    t_df['d_spacing'] = t_df['d_spacing'].astype(float)
    t_df['I'] = t_df['I'].astype(float)
    t_df['2theta'] = t_df['2theta'].astype(float)
    t_df['h'] = t_df['h'].astype(float)
    t_df['k'] = t_df['k'].astype(float)
    t_df['l'] = t_df['l'].astype(float)
    t_powder_data = [t_df['2theta'], t_df['d_spacing'], t_df['I'], t_df['h'],  t_df['k'], t_df['l']]
    t_powder_df = pd.concat(t_powder_data, axis=1)
    t_li.append(t_powder_df)

In [4]:
t = t_li[19].sort_values(by=['I'], ascending=False)
t = t.reset_index(drop=True)

In [5]:
peak_1 = []
peak_2 = []
peak_3 = []
peak_4 = []
peak_5= []
peak_6= []


h_1=[]
h_2 = []
h_3 = []
h_4 = []
h_5= []
h_6= []

k_1=[]
k_2 = []
k_3 = []
k_4 = []
k_5= []
k_6= []

l_1=[]
l_2 = []
l_3 = []
l_4 = []
l_5= []
l_6= []

for i in range(len(t_li)):
    df_sorted = t_li[i].sort_values(by=['I'], ascending=False)
    df_sorted = df_sorted.reset_index(drop=True)
    peak_1.append(df_sorted['d_spacing'][0])
    peak_2.append(df_sorted['d_spacing'][1])
    peak_3.append(df_sorted['d_spacing'][2])
    peak_4.append(df_sorted['d_spacing'][3])
    peak_5.append(df_sorted['d_spacing'][4])
    peak_6.append(df_sorted['d_spacing'][5])
    h_1.append(df_sorted['h'][0])
    h_2.append(df_sorted['h'][1])
    h_3.append(df_sorted['h'][2])
    h_4.append(df_sorted['h'][3])
    h_5.append(df_sorted['h'][4])
    h_6.append(df_sorted['h'][5])
    k_1.append(df_sorted['k'][0])
    k_2.append(df_sorted['k'][1])
    k_3.append(df_sorted['k'][2])
    k_4.append(df_sorted['k'][3])
    k_5.append(df_sorted['k'][4])
    k_6.append(df_sorted['k'][5])
    l_1.append(df_sorted['l'][0])
    l_2.append(df_sorted['l'][1])
    l_3.append(df_sorted['l'][2])
    l_4.append(df_sorted['l'][3])
    l_5.append(df_sorted['l'][4])
    l_6.append(df_sorted['l'][5])

In [6]:
train_df = pd.DataFrame()

train_df['peak_1'] = peak_1
train_df['h_1'] = h_1
train_df['k_1'] = k_1
train_df['l_1'] = l_1
train_df['peak_2'] = peak_2
train_df['h_2'] = h_2
train_df['k_2'] = k_2
train_df['l_2'] = l_2
train_df['peak_3'] = peak_3
train_df['h_3'] = h_3
train_df['k_3'] = k_3
train_df['l_3'] = l_3
train_df['peak_4'] = peak_4
train_df['h_4'] = h_4
train_df['k_4'] = k_4
train_df['l_4'] = l_4
train_df['peak_5'] = peak_5
train_df['h_5'] = h_5
train_df['k_5'] = k_5
train_df['l_5'] = l_5
train_df['peak_6'] = peak_6
train_df['h_6'] = h_6
train_df['k_6'] = k_6
train_df['l_6'] = l_6

In [7]:
space_group = []
for i in t2_filelist:
    sp_df = open(t2_Path + i)
    lines = sp_df.readlines()
    spacegroup = re.sub(r"\W+|:", "", lines[8])
    space_group.append(spacegroup)

In [8]:
train_df["space_group"] = space_group

In [9]:
key = dict(list(enumerate(train_df["space_group"].unique()))) # A space groupokat átalakítom számokká
space_group_codes = {value: key for key, value in key.items()}
train_df["Space_code"] = train_df["space_group"]
train_df = train_df.replace({"Space_code":space_group_codes})

In [10]:
space_group_codes = {value: key for key, value in key.items()}

In [12]:
train_df.to_csv("mixed.csv", sep='\t', index=False)

In [3]:
t_df = pd.read_csv("mixed.csv", sep='\t')

In [39]:
Paths = [r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\C2c/", r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\C2m/", r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\Fm3m/", r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\P-1/", r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\P2_1m/", r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\P63mmc/", r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\Pnma/", r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\R-3/"]
filelists = [os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\C2c"), os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\C2m"), os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\Fm3m"), os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\P-1"), os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\P2_1m"), os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\P63mmc"), os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\Pnma"), os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\Training data\R-3")]
codelist = [2, 1, 3, 5, 6, 0, 7, 8]

In [15]:
t_li = []
for f in range(len(Paths)):
    for i in filelists[f]:
        t_df = pd.read_csv(Paths[f] + i, skiprows=[0], sep='\s+', names=["h", "k", "l", 'd_spacing',
            "F(real)", "F(imag)", "|F|", '2theta', 'I', 'M'])         
        t_df = t_df[~t_df["2theta"].str.contains('[A-Za-z]')]
        t_df = t_df[~t_df["I"].str.contains('[A-Za-z]')]
        t_df['d_spacing'] = t_df['d_spacing'].astype(float)
        t_df['I'] = t_df['I'].astype(float)
        t_df['2theta'] = t_df['2theta'].astype(float)
        t_df['h'] = t_df['h'].astype(float)
        t_df['k'] = t_df['k'].astype(float)
        t_df['l'] = t_df['l'].astype(float)
        t_powder_data = [t_df['2theta'], t_df['d_spacing'], t_df['I'], t_df['h'],  t_df['k'], t_df['l']]
        t_powder_df = pd.concat(t_powder_data, axis=1)
        t_powder_df['space_code'] = codelist[f]
        t_powder_df['name'] = i
        t_li.append(t_powder_df)

In [16]:
peak_1 = []
peak_2 = []
peak_3 = []
peak_4 = []
peak_5= []
peak_6= []


h_1=[]
h_2 = []
h_3 = []
h_4 = []
h_5= []
h_6= []

k_1=[]
k_2 = []
k_3 = []
k_4 = []
k_5= []
k_6= []

l_1=[]
l_2 = []
l_3 = []
l_4 = []
l_5= []
l_6= []

codes = []

for i in range(len(t_li)):
    df_sorted = t_li[i].sort_values(by=['I'], ascending=False)
    df_sorted = df_sorted.reset_index(drop=True)
    codes.append(t_li[i]["space_code"][0])
    peak_1.append(df_sorted['d_spacing'][0])
    peak_2.append(df_sorted['d_spacing'][1])
    peak_3.append(df_sorted['d_spacing'][2])
    peak_4.append(df_sorted['d_spacing'][3])
    peak_5.append(df_sorted['d_spacing'][4])
    peak_6.append(df_sorted['d_spacing'][5])
    h_1.append(df_sorted['h'][0])
    h_2.append(df_sorted['h'][1])
    h_3.append(df_sorted['h'][2])
    h_4.append(df_sorted['h'][3])
    h_5.append(df_sorted['h'][4])
    h_6.append(df_sorted['h'][5])
    k_1.append(df_sorted['k'][0])
    k_2.append(df_sorted['k'][1])
    k_3.append(df_sorted['k'][2])
    k_4.append(df_sorted['k'][3])
    k_5.append(df_sorted['k'][4])
    k_6.append(df_sorted['k'][5])
    l_1.append(df_sorted['l'][0])
    l_2.append(df_sorted['l'][1])
    l_3.append(df_sorted['l'][2])
    l_4.append(df_sorted['l'][3])
    l_5.append(df_sorted['l'][4])
    l_6.append(df_sorted['l'][5])

In [17]:
train_df = pd.DataFrame()

train_df['peak_1'] = peak_1
train_df['h_1'] = h_1
train_df['k_1'] = k_1
train_df['l_1'] = l_1
train_df['peak_2'] = peak_2
train_df['h_2'] = h_2
train_df['k_2'] = k_2
train_df['l_2'] = l_2
train_df['peak_3'] = peak_3
train_df['h_3'] = h_3
train_df['k_3'] = k_3
train_df['l_3'] = l_3
train_df['peak_4'] = peak_4
train_df['h_4'] = h_4
train_df['k_4'] = k_4
train_df['l_4'] = l_4
train_df['peak_5'] = peak_5
train_df['h_5'] = h_5
train_df['k_5'] = k_5
train_df['l_5'] = l_5
train_df['peak_6'] = peak_6
train_df['h_6'] = h_6
train_df['k_6'] = k_6
train_df['l_6'] = l_6
train_df['space_code'] = codes

In [18]:
train_df

,peak_1,h_1,k_1,l_1,peak_2,h_2,k_2,l_2,peak_3,h_3,...,l_4,peak_5,h_5,k_5,l_5,peak_6,h_6,k_6,l_6,space_code
0,5.397354,1.0,1.0,1.0,6.142411,4.0,0.0,0.0,4.897969,2.0,...,-1.0,4.419020,2.0,0.0,2.0,12.284821,2.0,0.0,0.0,2
1,2.964591,2.0,2.0,-1.0,2.512873,0.0,0.0,2.0,2.880601,3.0,...,1.0,2.868555,3.0,1.0,-1.0,0.770437,3.0,11.0,0.0,2
2,2.998279,2.0,2.0,-1.0,2.862752,3.0,1.0,0.0,6.283386,1.0,...,2.0,3.509762,1.0,1.0,1.0,4.345000,0.0,2.0,0.0,2
3,2.999462,2.0,2.0,-1.0,2.864102,3.0,1.0,0.0,0.770580,10.0,...,0.0,2.483702,0.0,0.0,2.0,3.510128,1.0,1.0,1.0,2
4,3.000985,2.0,2.0,-1.0,2.865624,3.0,1.0,0.0,6.287767,1.0,...,2.0,3.511688,1.0,1.0,1.0,0.770961,10.0,6.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,12.160000,0.0,0.0,3.0,2.824824,2.0,1.0,-5.0,3.021452,2.0,...,6.0,3.040000,0.0,0.0,12.0,1.768874,1.0,-1.0,0.0,8
6217,12.190000,0.0,0.0,3.0,4.035562,0.0,0.0,-1.0,2.909743,1.0,...,0.0,6.095000,0.0,0.0,6.0,3.058590,1.0,2.0,-1.0,8
6218,4.889445,0.0,0.0,18.0,2.343370,1.0,1.0,18.0,2.670000,1.0,...,36.0,9.778889,0.0,0.0,9.0,2.343370,1.0,1.0,-18.0,8
6219,2.696721,2.0,1.0,-3.0,3.567426,2.0,0.0,-2.0,2.915036,2.0,...,0.0,7.134853,1.0,0.0,-1.0,2.379506,1.0,3.0,-1.0,8
6220,9.563334,0.0,0.0,3.0,2.516849,1.0,3.0,-5.0,2.748745,1.0,...,6.0,2.207307,1.0,3.0,8.0,1.616951,5.0,2.0,0.0,8

In [19]:
train_df.to_csv("large.csv", sep='\t', index=False)

In [20]:
train_df = pd.read_csv("large.csv", sep='\t')
train_df

,peak_1,h_1,k_1,l_1,peak_2,h_2,k_2,l_2,peak_3,h_3,...,l_4,peak_5,h_5,k_5,l_5,peak_6,h_6,k_6,l_6,space_code
0,5.397354,1.0,1.0,1.0,6.142411,4.0,0.0,0.0,4.897969,2.0,...,-1.0,4.419020,2.0,0.0,2.0,12.284821,2.0,0.0,0.0,2
1,2.964591,2.0,2.0,-1.0,2.512873,0.0,0.0,2.0,2.880601,3.0,...,1.0,2.868555,3.0,1.0,-1.0,0.770437,3.0,11.0,0.0,2
2,2.998279,2.0,2.0,-1.0,2.862752,3.0,1.0,0.0,6.283386,1.0,...,2.0,3.509762,1.0,1.0,1.0,4.345000,0.0,2.0,0.0,2
3,2.999462,2.0,2.0,-1.0,2.864102,3.0,1.0,0.0,0.770580,10.0,...,0.0,2.483702,0.0,0.0,2.0,3.510128,1.0,1.0,1.0,2
4,3.000985,2.0,2.0,-1.0,2.865624,3.0,1.0,0.0,6.287767,1.0,...,2.0,3.511688,1.0,1.0,1.0,0.770961,10.0,6.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,12.160000,0.0,0.0,3.0,2.824824,2.0,1.0,-5.0,3.021452,2.0,...,6.0,3.040000,0.0,0.0,12.0,1.768874,1.0,-1.0,0.0,8
6217,12.190000,0.0,0.0,3.0,4.035562,0.0,0.0,-1.0,2.909743,1.0,...,0.0,6.095000,0.0,0.0,6.0,3.058590,1.0,2.0,-1.0,8
6218,4.889445,0.0,0.0,18.0,2.343370,1.0,1.0,18.0,2.670000,1.0,...,36.0,9.778889,0.0,0.0,9.0,2.343370,1.0,1.0,-18.0,8
6219,2.696721,2.0,1.0,-3.0,3.567426,2.0,0.0,-2.0,2.915036,2.0,...,0.0,7.134853,1.0,0.0,-1.0,2.379506,1.0,3.0,-1.0,8
6220,9.563334,0.0,0.0,3.0,2.516849,1.0,3.0,-5.0,2.748745,1.0,...,6.0,2.207307,1.0,3.0,8.0,1.616951,5.0,2.0,0.0,8

In [25]:
Path = r"C:\Users\dajka\Documents\Egyetem\szakdog\DIF/"
filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\DIF")
files = [os.path.splitext(filename)[0][:-35] for filename in filelist]

regex = "SPACE"
stopwords=['SPACE','GROUP','ALTERNATE','SETTING','FOR'] # Ezeket a szavakat keresi majd a szövegfájlban

def lines_that_contain(string, fp):
    return [line for line in fp if string in line] # Ez mondja meg hogy a szöveg benne van-e a sorban

In [23]:
index = []
groups = []

In [24]:
for file in filelist: 
    with open(Path + file,'r') as f:
        data = f.readlines()
        matches = lines_that_contain(regex, data) # Kiszedem azt a sort amiben a space group van
        data = re.sub('[^A-Za-z0-9]+', '', data[0]) # Minden mást kitörlök
        matches = re.sub(r"\W+|:", " ", matches[0]) # Csak a betűk és számok kellenek
        for word in stopwords:
            matches = matches.replace(word,"") # Kitörlöm a konkrét space group előtti szövegeket
        index.append(data)
        groups.append(matches)

In [25]:
space_df = pd.DataFrame() # A kiszedett adatokat beleteszem egy táblázatba
space_df['Space Group'] = groups 
space_df["Name"] = index

In [71]:
li = []
headers = ["2theta", 'intensity', "d_spacing", "h", "k", "l"]

In [ ]:
filelist = os.listdir(r"C:\Users\dajka\Documents\Egyetem\szakdog\DIF")
files = [os.path.splitext(filename)[0] for filename in filelist]
li = []
for i in filelist:
    df = pd.read_csv(Path + i, sep='         |          |        |    |   |  ', names=['2theta','intensity','d_spacing','h','k','l', "kfz", "ced"]) # A szövegfájlokat táblázatba teszem,
    powder_data = [df['2theta'], df['intensity'], df['d_spacing'], df['h'], df['k'], df['l']]                    # az értelmetlen oszlop neveknek nincs jelentősége
    powder_df = pd.concat(powder_data, axis=1, keys=headers)            #  csak így könnybben megkapom a fontos sorokat
    powder_df = powder_df.dropna()
    powder_df = powder_df[~powder_df["2theta"].str.contains('[A-Za-z]')] # Csak a számokat hagyom meg
    powder_df['2theta'] = powder_df['2theta'].astype(float)
    powder_df['intensity'] = powder_df['intensity'].astype(float)
    powder_df['d_spacing'] = powder_df['d_spacing'].astype(float)
    powder_df = powder_df.reset_index(drop=True)
    li.append(powder_df)

In [84]:
data_df = pd.DataFrame()
intensity = []
theta = []
d_sp = []
h = []
k = []
l = []

In [85]:
for i in range(len(li)):
    intensity.append(li[i]["intensity"])
    theta.append(li[i]["2theta"])
    d_sp.append(li[i]["d_spacing"])
    h.append(li[i]["h"])
    k.append(li[i]["k"])
    l.append(li[i]["l"])

In [87]:
data_df["intensity"] = intensity
data_df["2theta"] = theta
data_df["d_spacing"] = d_sp
data_df["h"] = h
data_df["k"] = k
data_df["l"] = l

In [88]:
frames = [data_df, space_df]

In [89]:
data = pd.concat(frames, axis=1) # Összekötöm a két táblát

In [90]:
data["Space Group"] = data["Space Group"].str.strip()

In [92]:
C2m_df = data[data["Space Group"] == "C2 m"]
C2c_df = data[data["Space Group"] == "C2 c"]
P6_3mmc_df = data[data["Space Group"] == "P6_3 mmc"]
Fd3m_df = data[data["Space Group"] == "Fd 3m"]
C1_df = data[data["Space Group"] == "C 1"]
Ia3d_df = data[data["Space Group"] == "Ia3d"]
R3m_df = data[data["Space Group"] == "R3m"]
Im3m_df = data[data["Space Group"] == "Im3m"]
Fm3m_df = data[data["Space Group"] == "Fm 3m"]
P1_df = data[data["Space Group"] == "P 1"]
P2_1m_df = data[data["Space Group"] == "P2_1 m"]
Pnma_df = data[data["Space Group"] == "Pnma"]
R3_df = data[data["Space Group"] == "R3"]
R3c_df = data[data["Space Group"] == "R3c"]

In [93]:
bunch_1 = [P6_3mmc_df, C2m_df, C2c_df, Fd3m_df, Fm3m_df, C1_df, Ia3d_df, R3m_df, Im3m_df]
bunch_2 = [P6_3mmc_df, C2m_df, C2c_df, Fm3m_df, R3m_df, P1_df, P2_1m_df, Pnma_df, R3_df]

In [94]:
data_test_1 = pd.concat(bunch_1, axis=0)
data_test_2 = pd.concat(bunch_2, axis=0)

In [95]:
new_space_group_codes = {'P6_3 mmc': 0, 'C2 m': 1, 'C2 c': 2, 'Fm 3m': 3, 'R3m': 4, 'P 1': 5, 'P2_1 m': 6, 'Pnma': 7, 'R3': 8}
new_space_group_codes_mixed = {'P6_3 mmc': 0, 'C2 m': 1, 'C2 c': 2, 'Fm 3m': 3, 'Fd 3m': 4, 'C 1': 5, 'Ia3d': 6, 'Im3m': 7, 'R3m': 8}
data_test_2["space_code"] = data_test_2["Space Group"]
data_test_2 = data_test_2.replace({"space_code":new_space_group_codes})
data_test_1["space_code"] = data_test_1["Space Group"]
data_test_1 = data_test_1.replace({"space_code":new_space_group_codes_mixed})

In [96]:
data_test_2 = data_test_2.reset_index()
data_test_2 = data_test_2.drop("index", axis=1)
data_test_1 = data_test_1.reset_index()
data_test_1 = data_test_1.drop("index", axis=1)

In [97]:
peak_1 = []
peak_2 = []
peak_3 = []
peak_4 = []
peak_5 = []
peak_6 = []
h1 = []
h2 = []
h3 = []
h4 = []
h5 = []
h6 = []
k1 = []
k2 = []
k3 = []
k4 = []
k5 = []
k6 = []
l1 = []
l2 = []
l3 = []
l4 = []
l5 = []
l6 = []
name = []

for i in range(len(data_test_2)):
    df_sorted = data_test_2.loc[i]["intensity"].sort_values(ascending=False)
    peak_1.append(data_test_2.loc[i]['d_spacing'][df_sorted[0:1].index[0]])
    peak_2.append(data_test_2.loc[i]['d_spacing'][df_sorted[1:2].index[0]])
    peak_3.append(data_test_2.loc[i]['d_spacing'][df_sorted[2:3].index[0]])
    peak_4.append(data_test_2.loc[i]['d_spacing'][df_sorted[3:4].index[0]])
    peak_5.append(data_test_2.loc[i]['d_spacing'][df_sorted[4:5].index[0]])
    peak_6.append(data_test_2.loc[i]['d_spacing'][df_sorted[5:6].index[0]])
    h1.append(data_test_2.loc[i]['h'][df_sorted[0:1].index[0]])
    h2.append(data_test_2.loc[i]['h'][df_sorted[1:2].index[0]])
    h3.append(data_test_2.loc[i]['h'][df_sorted[2:3].index[0]])
    h4.append(data_test_2.loc[i]['h'][df_sorted[3:4].index[0]])
    h5.append(data_test_2.loc[i]['h'][df_sorted[4:5].index[0]])
    h6.append(data_test_2.loc[i]['h'][df_sorted[5:6].index[0]])
    k1.append(data_test_2.loc[i]['k'][df_sorted[0:1].index[0]])
    k2.append(data_test_2.loc[i]['k'][df_sorted[1:2].index[0]])
    k3.append(data_test_2.loc[i]['k'][df_sorted[2:3].index[0]])
    k4.append(data_test_2.loc[i]['k'][df_sorted[3:4].index[0]])
    k5.append(data_test_2.loc[i]['k'][df_sorted[4:5].index[0]])
    k6.append(data_test_2.loc[i]['k'][df_sorted[5:6].index[0]])
    l1.append(data_test_2.loc[i]['l'][df_sorted[0:1].index[0]])
    l2.append(data_test_2.loc[i]['l'][df_sorted[1:2].index[0]])
    l3.append(data_test_2.loc[i]['l'][df_sorted[2:3].index[0]])
    l4.append(data_test_2.loc[i]['l'][df_sorted[3:4].index[0]])
    l5.append(data_test_2.loc[i]['l'][df_sorted[4:5].index[0]])
    l6.append(data_test_2.loc[i]['l'][df_sorted[5:6].index[0]])
    name.append(data_test_2.loc[i]["Name"])

In [99]:
m_peak_1 = []
m_peak_2 = []
m_peak_3 = []
m_peak_4 = []
m_peak_5= []
m_peak_6= []
m_name = []
m_h1 = []
m_h2 = []
m_h3 = []
m_h4 = []
m_h5 = []
m_h6 = []
m_k1 = []
m_k2 = []
m_k3 = []
m_k4 = []
m_k5 = []
m_k6 = []
m_l1 = []
m_l2 = []
m_l3 = []
m_l4 = []
m_l5 = []
m_l6 = []

for i in range(len(data_test_1)):
    df_sorted = data_test_1.loc[i]["intensity"].sort_values(ascending=False)
    m_peak_1.append(data_test_1.loc[i]['d_spacing'][df_sorted[0:1].index[0]])
    m_peak_2.append(data_test_1.loc[i]['d_spacing'][df_sorted[1:2].index[0]])
    m_peak_3.append(data_test_1.loc[i]['d_spacing'][df_sorted[2:3].index[0]])
    m_peak_4.append(data_test_1.loc[i]['d_spacing'][df_sorted[3:4].index[0]])
    m_peak_5.append(data_test_1.loc[i]['d_spacing'][df_sorted[4:5].index[0]])
    m_peak_6.append(data_test_1.loc[i]['d_spacing'][df_sorted[5:6].index[0]])
    m_h1.append(data_test_1.loc[i]['h'][df_sorted[0:1].index[0]])
    m_h2.append(data_test_1.loc[i]['h'][df_sorted[1:2].index[0]])
    m_h3.append(data_test_1.loc[i]['h'][df_sorted[2:3].index[0]])
    m_h4.append(data_test_1.loc[i]['h'][df_sorted[3:4].index[0]])
    m_h5.append(data_test_1.loc[i]['h'][df_sorted[4:5].index[0]])
    m_h6.append(data_test_1.loc[i]['h'][df_sorted[5:6].index[0]])
    m_k1.append(data_test_1.loc[i]['k'][df_sorted[0:1].index[0]])
    m_k2.append(data_test_1.loc[i]['k'][df_sorted[1:2].index[0]])
    m_k3.append(data_test_1.loc[i]['k'][df_sorted[2:3].index[0]])
    m_k4.append(data_test_1.loc[i]['k'][df_sorted[3:4].index[0]])
    m_k5.append(data_test_1.loc[i]['k'][df_sorted[4:5].index[0]])
    m_k6.append(data_test_1.loc[i]['k'][df_sorted[5:6].index[0]])
    m_l1.append(data_test_1.loc[i]['l'][df_sorted[0:1].index[0]])
    m_l2.append(data_test_1.loc[i]['l'][df_sorted[1:2].index[0]])
    m_l3.append(data_test_1.loc[i]['l'][df_sorted[2:3].index[0]])
    m_l4.append(data_test_1.loc[i]['l'][df_sorted[3:4].index[0]])
    m_l5.append(data_test_1.loc[i]['l'][df_sorted[4:5].index[0]])
    m_l6.append(data_test_1.loc[i]['l'][df_sorted[5:6].index[0]])
    m_name.append(data_test_1.loc[i]["Name"])

In [107]:
test_2_df = pd.DataFrame()

test_2_df['peak_1'] = peak_1
test_2_df['h_1'] = h1
test_2_df['k_1'] = k1
test_2_df['l_1'] = l1

test_2_df['peak_2'] = peak_2
test_2_df['h_2'] = h2
test_2_df['k_2'] = k2
test_2_df['l_2'] = l2

test_2_df['peak_3'] = peak_3
test_2_df['h_3'] = h3
test_2_df['k_3'] = k3
test_2_df['l_3'] = l3

test_2_df['peak_4'] = peak_4
test_2_df['h_4'] = h4
test_2_df['k_4'] = k4
test_2_df['l_4'] = l4

test_2_df['peak_5'] = peak_5
test_2_df['h_5'] = h5
test_2_df['k_5'] = k5
test_2_df['l_5'] = l5

test_2_df['peak_6'] = peak_6
test_2_df['h_6'] = h6
test_2_df['k_6'] = k6
test_2_df['l_6'] = l6

In [108]:
test_1_df = pd.DataFrame()

test_1_df['peak_1'] = m_peak_1
test_1_df['h_1'] = m_h1
test_1_df['k_1'] = m_k1
test_1_df['l_1'] = m_l1

test_1_df['peak_2'] = m_peak_2
test_1_df['h_2'] = m_h2
test_1_df['k_2'] = m_k2
test_1_df['l_2'] = m_l2

test_1_df['peak_3'] = m_peak_3
test_1_df['h_3'] = m_h3
test_1_df['k_3'] = m_k3
test_1_df['l_3'] = m_l3

test_1_df['peak_4'] = m_peak_4
test_1_df['h_4'] = m_h4
test_1_df['k_4'] = m_k4
test_1_df['l_4'] = m_l4

test_1_df['peak_5'] = m_peak_5
test_1_df['h_5'] = m_h5
test_1_df['k_5'] = m_k5
test_1_df['l_5'] = m_l5

test_1_df['peak_6'] = m_peak_6
test_1_df['h_6'] = m_h6
test_1_df['k_6'] = m_k6
test_1_df['l_6'] = m_l6

In [109]:
test_2_df["space_code"] = data_test_2["space_code"].values
test_1_df["space_code"] = data_test_1["space_code"].values
test_2_df['name'] = name
test_1_df['name'] = m_name

In [110]:
test_1_df.to_csv("mixed_test.csv", sep='\t', index=False)

In [111]:
test_2_df.to_csv("test.csv", sep='\t', index=False)

In [112]:
mixed_test_df = pd.read_csv("mixed_test.csv", sep='\t')
mixed_test_df

,peak_1,h_1,k_1,l_1,peak_2,h_2,k_2,l_2,peak_3,h_3,...,peak_5,h_5,k_5,l_5,peak_6,h_6,k_6,l_6,space_code,name
0,2.7088,1,1,2,2.4527,2,0,2,5.7790,1,...,1.8089,2,0,4,4.9054,1,0,1,0,Claringbullite
1,6.5885,1,0,2,3.8197,3,0,0,3.7986,1,...,2.8205,4,0,1,4.1826,2,1,1,0,Bellbergite
2,7.9015,1,1,0,2.7366,4,0,2,2.4983,4,...,3.2249,3,0,2,2.2807,3,3,2,0,Buttgenbachite
3,2.6956,1,1,2,2.4424,2,0,2,5.7721,1,...,1.7950,2,0,4,4.8847,1,0,1,0,Claringbullite
4,2.7012,1,1,2,2.4470,2,0,2,5.7781,1,...,1.8001,2,0,4,4.8940,1,0,1,0,Claringbullite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2.5578,0,5,1,3.9578,2,2,0,2.9283,1,...,3.4360,0,1,2,1.9027,3,4,2,8,Elbaite
468,2.5740,0,5,1,2.9581,1,2,2,3.9791,2,...,3.4773,0,1,2,2.0387,1,5,2,8,Dravite
469,6.1493,0,0,3,2.3539,1,0,4,2.6241,0,...,2.1983,0,1,5,1.8985,1,0,7,8,Tungstenite
470,8.2812,3,3,0,3.0815,11,3,0,6.8903,4,...,3.5858,8,4,4,2.6187,10,8,4,7,PaulingiteCa
471,8.2731,3,3,0,3.0785,11,3,0,6.8837,4,...,3.5824,8,4,4,2.6162,10,8,4,7,PaulingiteCa

In [113]:
test_df = pd.read_csv("test.csv", sep='\t')
test_df

,peak_1,h_1,k_1,l_1,peak_2,h_2,k_2,l_2,peak_3,h_3,...,peak_5,h_5,k_5,l_5,peak_6,h_6,k_6,l_6,space_code,name
0,2.7088,1,1,2,2.4527,2,0,2,5.7790,1,...,1.8089,2,0,4,4.9054,1,0,1,0,Claringbullite
1,6.5885,1,0,2,3.8197,3,0,0,3.7986,1,...,2.8205,4,0,1,4.1826,2,1,1,0,Bellbergite
2,7.9015,1,1,0,2.7366,4,0,2,2.4983,4,...,3.2249,3,0,2,2.2807,3,3,2,0,Buttgenbachite
3,2.6956,1,1,2,2.4424,2,0,2,5.7721,1,...,1.7950,2,0,4,4.8847,1,0,1,0,Claringbullite
4,2.7012,1,1,2,2.4470,2,0,2,5.7781,1,...,1.8001,2,0,4,4.8940,1,0,1,0,Claringbullite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,2.9646,0,2,7,2.9204,1,1,9,2.8330,2,...,2.9204,2,-1,9,2.3804,3,0,0,8,Dixenite
767,5.2376,0,1,2,2.6188,0,2,4,3.2247,2,...,2.5420,2,2,0,3.3025,2,-1,3,8,Lovozerite
768,2.8560,4,0,4,2.9775,4,-1,5,2.9775,3,...,3.2177,2,0,8,4.3143,2,0,5,8,Oneillite
769,3.5530,1,1,0,4.6572,0,0,18,2.8248,1,...,2.0513,3,0,0,1.8773,3,0,18,8,ParisiteCe
770,2.8495,4,0,4,7.1090,1,1,0,4.3062,2,...,2.9710,4,-1,5,2.9710,3,1,5,8,Raslakite