In [34]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, re
from sklearn import metrics, preprocessing
from scipy import signal

In [35]:
train_df = pd.read_csv('phase_training.csv', sep='\t')

In [36]:
titan_df = train_df[train_df["names"] == "Titanium"]
titan_df = titan_df.append(train_df.loc[40])

In [37]:
train_df = train_df.drop([36,37,38,39,40])

In [38]:
train_df

,names,peak_1,peak_2,peak_3,peak_4,peak_5,peak_6,peak_7,peak_8
0,Aluminium,4.277112,4.938784,6.984494,8.190048,8.554225,9.877568,10.763834,11.043452
1,Aluminium,4.285717,4.948719,6.998547,8.206522,8.571433,9.897433,10.785485,11.065668
2,Aluminium,4.285875,4.948903,6.998807,8.206825,8.571749,9.897805,10.785881,11.066084
3,Aluminium,4.286619,4.949760,7.000017,8.208246,8.573234,9.899520,10.787754,11.067995
4,Aluminium,4.277112,4.938784,6.984494,8.190048,8.554225,9.877568,10.763834,11.043452
5,Aluminium,4.285717,4.948719,6.998547,8.206522,8.571433,9.897433,10.785485,11.065668
6,Aluminium,4.285875,4.948903,6.998807,8.206825,8.571749,9.897805,10.785881,11.066084
7,Aluminium,4.286619,4.949760,7.000017,8.208246,8.573234,9.899520,10.787754,11.067995
8,Aluminium,4.280897,4.943154,6.990675,8.197292,8.561790,9.886307,10.773354,11.053229
9,Iron,4.885897,5.641749,7.978636,9.355780,9.771799,11.283498,12.295903,12.615336
10,Iron,4.894180,5.651314,7.992168,9.371641,9.788366,11.302628,12.316757,12.636729
11,Iron,4.902494,5.660911,8.005739,9.387556,9.804989,11.321823,12.337667,12.658180
12,Iron,4.910834,5.670542,8.019356,9.403534,9.821668,11.341083,12.358663,12.679719
13,Iron,4.919202,5.680204,8.033025,9.419557,9.838404,11.360409,12.379716,12.701316
14,Iron,4.929000,5.691520,8.049022,9.438316,9.858005,11.383039,12.404378,12.726629
15,Iron,4.936024,5.699630,8.060492,9.451769,9.872048,11.399259,12.422052,12.744763
16,Iron,4.943068,5.707763,8.071996,9.465251,9.886132,11.415525,12.439776,12.762949
17,Iron,4.951547,5.717553,8.085839,9.481486,9.903088,11.435106,12.461121,12.784830
18,Iron,4.957214,5.724098,8.095095,9.492340,9.914429,11.448197,12.475377,12.799476
19,Iron,4.962897,5.730659,8.104378,9.503219,9.925795,11.461318,12.489680,12.814139
20,Iron,4.970016,5.738881,8.116000,9.516858,9.940032,11.477762,12.507598,12.832523
21,Iron,4.977157,5.747126,8.127663,9.530535,9.954320,11.494253,12.525568,12.850960
22,Iron,4.981452,5.752085,8.134678,9.538754,9.962908,11.504170,12.536371,12.862051
23,Iron,4.987188,5.758710,8.144045,9.549739,9.974376,11.517420,12.550815,12.876874
24,Iron,4.994379,5.767013,8.155789,9.563512,9.988763,11.534025,12.568909,12.895439
25,Iron,4.817944,5.563282,7.867672,9.225662,9.635889,11.126565,12.124886,12.439884
26,Iron,4.836780,5.585032,7.898426,9.261729,9.673556,11.170064,12.172291,12.488511
27,Iron,4.853043,5.603811,7.924985,9.292868,9.706080,11.207621,12.213218,12.530496
28,Iron,4.872155,5.625879,7.956196,9.329463,9.744309,11.251758,12.261318,12.579851
29,Iron,4.887277,5.643341,7.980891,9.358424,9.774550,11.286682,12.299382,12.618902
30,Iron,4.905269,5.664118,8.010272,9.392873,9.810539,11.328236,12.344658,12.665346
31,Iron,4.921996,5.683433,8.037590,9.424911,9.843992,11.366866,12.386754,12.708547
32,Iron,4.938840,5.702880,8.065088,9.457159,9.877675,11.405760,12.429138,12.752028
33,Iron,4.955797,5.722461,8.092782,9.489629,9.911589,11.444921,12.471814,12.795807
34,Iron,4.971444,5.740528,8.118333,9.519585,9.942888,11.481056,12.511198,12.836212
35,Iron,4.984319,5.755396,8.139359,9.544243,9.968639,11.510791,12.543589,12.869450

In [40]:
train_df["a"] = [4.04958, 4.04145, 4.0413, 4.0406, 4.04958, 4.04145, 4.0413, 4.0406, 4.046, 2.898, 3.539, 3.533, 3.527, 3.521, 3.514, 3.509, 3.504, 3.498, 3.494, 3.490, 3.485, 3.480, 3.477, 3.473, 3.468, 3.595, 3.581, 3.569, 3.555, 3.544, 3.531, 3.519, 3.507, 3.495 , 3.484, 3.475]

In [41]:
titan_df["a"] = [2.950, 2.97, 2.97, 2.950, 3.232  ]

In [43]:
titan_df["c"] = [4.686,4.72 , 4.72, 4.686, 5.147]

In [44]:
augmentation = []
for i in range(len(train_df)):
    
    ind = train_df.iloc[[i],]
    ind=ind.reindex(ind.index.repeat(100))
    ind = ind.reset_index(drop=True)
    
    for j in range(len(ind)):
        
        data = ind.iloc[j][["peak_1", "peak_2", "peak_3", "peak_4","peak_5", "peak_6", "peak_7", "peak_8"]].values
        cell_param = ind.iloc[j]["a"]
        
        param = []
        delta_a = np.random.randint(1,150)*0.001
        p = np.random.randint(2)
        if p > 0:
            param = cell_param + delta_a
        else:
            param = cell_param - delta_a
                    
        peaks = []
        a_prop = delta_a / cell_param
        for k in range(len(data)):
            
            delta_d = data[k] * a_prop
            
            if p > 0:
                peaks.append(delta_d + data[k])
            else:
                peaks.append(data[k] - delta_d)
                        
        ind.loc[j,["peak_1", "peak_2", "peak_3", "peak_4","peak_5", "peak_6", "peak_7", "peak_8"]] = peaks
        ind.loc[j,["a"]] = param
    augmentation.append(ind)

In [45]:
len(augmentation)

36

In [46]:
aug_df = pd.concat(augmentation, ignore_index=True)

In [47]:
train_data = pd.concat([aug_df,train_df], ignore_index=True)

In [48]:
train_data

,names,peak_1,peak_2,peak_3,peak_4,peak_5,peak_6,peak_7,peak_8,a
0,Aluminium,4.127134,4.765604,6.739580,7.902861,8.254268,9.531207,10.386396,10.656209,3.90758
1,Aluminium,4.323585,4.992445,7.060383,8.279036,8.647169,9.984891,10.880786,11.163442,4.09358
2,Aluminium,4.176775,4.822924,6.820643,7.997916,8.353549,9.645847,10.511323,10.784381,3.95458
3,Aluminium,4.349989,5.022935,7.103501,8.329597,8.699979,10.045869,10.947237,11.231619,4.11858
4,Aluminium,4.291899,4.955858,7.008640,8.218363,8.583798,9.911716,10.801046,11.081630,4.06358
...,...,...,...,...,...,...,...,...,...,...
3631,Iron,4.921996,5.683433,8.037590,9.424911,9.843992,11.366866,12.386754,12.708547,3.51900
3632,Iron,4.938840,5.702880,8.065088,9.457159,9.877675,11.405760,12.429138,12.752028,3.50700
3633,Iron,4.955797,5.722461,8.092782,9.489629,9.911589,11.444921,12.471814,12.795807,3.49500
3634,Iron,4.971444,5.740528,8.118333,9.519585,9.942888,11.481056,12.511198,12.836212,3.48400
3635,Iron,4.984319,5.755396,8.139359,9.544243,9.968639,11.510791,12.543589,12.869450,3.47500

In [49]:
train_data.to_csv("training_dataset_cubic_phase.csv", sep='\t', index=False)